/* global CSS */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;


  background-color: #f8f8f8;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -moz-osz-font-smoothing: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  font-style: normal;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --primary: #5e3bee;
  --heading-color: #676565;
  --bg-shade: #f5fcff;
  --github: #e62972;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
  --bg: #efefef;
  --t1: #a9a9a9;
  --t2: #f582ae;
  --pink: #f582ae;
}
/* Global CSS ends here */

/* Main headings */

/* heading 1 */
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}

/* heading 2 */
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
}

/* heading 3 */
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/* Paragraphs */

/* body 1 */
.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

/* body 2 */
.text-md {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* body 3 */
.text-sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.intro {
  color: black;
  overflow: hidden;
  border-right: .15em solid #ffa2b6;
  white-space: nowrap;
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em;
  font-size: 50px;
  text-align: center;
  font-style: oblique;
  font-weight: bolder;
  margin-bottom: 100px;
  animation:
    typing 3.5s steps(50, end), forwards blink-caret .9s step-end;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #f07676;
  }
}



/* Portfolio and Contact Me */
.sub--title {
  color: var(--pink);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* Section Titles Ends */

/* Welcome Section Style*/

.welcome--section {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  padding: 122.333px 85.333px 122.333px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  /* border: 2px solid #f07676;
  border-radius: 10px; */
  /* margin-right: 20px;
  margin-left: 20px; */



  margin-top: 150px;
}

.experience-section {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  padding: 122.333px 85.333px 122.333px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  /* border: 2px solid #f07676;
  border-radius: 10px; */
  /* margin-right: 20px;
  margin-left: 20px; */



  margin-top: 150px;
}

.ack-section {

  padding: 122.333px 85.333px 122.333px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  margin-top: 150px;
  

}

.contact-section {

  padding: 122.333px 85.333px 122.333px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  margin-top: 150px;
  margin-bottom: 200px;

}


.welcome--content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 21.33px;
}

.experience-box {

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 21.33px;
}





.welcome--section--title {
  color: var(--t2);
  font-size: 74px;
  font-weight: 200;
  line-height: 90px;
  align-self: stretch;
  /* text-align: center;
  align-items: center; */
}

.welcome--title--colour {
  color: black;

  /* color: #000080; */
}

.welcome--desc {
  color: black;
  font-size: 19px;
  line-height: 2;

}
.ack--desc {
  color: black;
  font-size: 19px;
  line-height: 2;

}

.welcome--image>img {
  width: 100%;
  height: 100%;
}

.logopadding {
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 6px;
}

.degree--title {
  color: var(--t2);
  font-size: 20px;
  font-weight: 700;
  line-height: 90px;
  align-items: center;
}


.nav-link {
  color: black;
  font-weight: 400;
  position: relative;

}

.nav-link:hover,
.nav-link.active {
  color: grey;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;

    background-color: #ffa2b6;
    visibility: hidden;
    transition: ease-in-out 0.3s;

  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

.navbar-brand {
  font-weight: 1000;
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: 0.3s color;
}


.navbar {
  /* background: transparent; */
  backdrop-filter: blur(15px);
  border-radius: 16px;
  /* background-color: rgba(245, 245, 245, 0.8); */
  /* background-color: whitesmoke; */
  margin: 20px;

}


.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: hsl(0, 0%, 90%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.goals {
  list-style-type: none;
}
